.titulo{
    font-size: 14px;
}
.titulo thead th:nth-child(1){
    width:50%;
    text-align: left;
}
.titulo thead th:nth-child(2){
    width: 50%;
    text-align: center;
}
.titulo thead th:nth-child(3){
    width: 50%;
    text-align: right;
}
.text-muted{
    font-weight: 100;
}
.text-titulo{
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}
.table-contenido{
    width: 100%;
    font-size: 12px;
    text-align: left;
    border: 1px solid #000;
    margin-bottom: 10px;
}
.table-contenido th, td{
    width: 25%;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
}
